node_modules/
/eddsasignaturesverifier_js/
/eddsasignaturesverifier_cpp/
/node_modules/
/eddsasignaturesverifier_cpp
/eddsasignaturesverifier_js
/eddsasignaturesverifier.rc1s 
/eddsasignaturesverifier.sym
/input.json

/helpers/input.json
/pot17_final.ptau
/pot17_0000.ptau
/pot17_0001.ptau
/public.json
/verification_key.json
/witness.wtns
/proof.json

/eddsasignaturesverifier_0000.zkey 
/eddsasignaturesverifier_0001.zkey 